<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Composers Guessing Game</title>
<!--    <link rel="stylesheet" href="{{ url_for('static', filename='mystyle.css') }}">-->

<!--    bootstrap-->
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>


</head>

<!-- <body style="background-color: rgb(229, 255, 204)">  -->
    <body style="background-color: rgb(3, 84, 22)"> 

      <div class="container p-5 my-5 text-white rounded" style="color: rgb(3, 84, 22)">

    </div>

    <div class="container p-5 my-5 text-white rounded" style="color: rgb(3, 84, 22)">
        <!-- <p style="color:whitesmoke;text-align: right">
                <a href="https://github.com/sofifia-lab" class="link-light">
                <img src="static/githublogo.png" width="3%" height="3%"></a>
          </p> -->


       <a href='/index' style="text-decoration:none"><h1 style="color: lightblue; text-align: center;">Who is this Diva?</h1></a>

        <p style="text-align: center"><strong><br><br>Welcome to the composer guessing game!</strong><br><br>

            In this Wikipedia-based game, you want to try to guess the composer in as few words as possible. You know the rules: fill in the blanks and guess who is this famous composer.<br><br><br><br></p>


        <div class="col text-center">
            <form class='d-grid' action="/game">
                <button method='POST' type="submit" class="btn btn-success">play!</button>
            </form>
        </div>

    </div>

    <div class="container p-5 my-5 text-white rounded" style="color: rgb(3, 84, 22)">

            <p style="color:whitesmoke;text-align: center">
                <a href="https://github.com/sofifia-lab" class="link-light">
                <img src="static/githublogo.png" width="3%" height="3%"></a>
          </p>
    <div>

</body>